<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.UserMapper">
    <update id="mod"><!--id为方法名，resulttype为单条记录的封装类型-->
        update user
        <set>
            <if test="number!=null">
                number=#{number},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="roleId!=null">
                role_id=#{roleId}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from user
        where id=#{id}
    </delete>
    <select id="selectSome" resultType="com.wms.entity.User">
        select *from user
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
        </where>
        order by id
    </select>
</mapper>